.navigation {
	@include flexbox();
	@include flexdir(row,space-between);
	flex-wrap: wrap;
	width: 100%;
	position: fixed;
	z-index: 10;
	transition: 1s ease-in;
	&__menu {
		@include flexbox();
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;
		list-style-type: none;
		@include linx();
		&--item {
			padding: 10px;
			@include fontsize(14px);
			
			}

		}
	&__social {
		@include flexbox();
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;
		@include linx();
		&__list {
			display: flex;
			flex-direction: row;
			justify-content: center;
			list-style-type: none;
			&--item {
			padding: 10px;
			@include fontsize(14px);
					
			}
			&--greet {
			padding: 10px;
			@include fontsize(14px);
			}
		}
	}
	&__toggle {
		display: none;	
	}

	@include mq('phone-wide') {	
		&__menu{
		display: none;
		}	
		&__social {
		display: none;
		}
		&__toggle {
		display: block;
		margin-top: 10px;
		transition: 0.75s ease;
			&--icon {
				display: block;
				background-color: $white;
				border-radius: 10px;
				width: 55px;
				height: 6px;
				z-index: 4;
				margin: 10px 0 0 10px; 
			}

		&.toggled {
			display: block;
			transition: 1s ease-in;
				.navigation__toggle--icon {
				display: block;
				background-color: black;
				border-radius: 10px;
				width: 55px;
				height: 6px;
				z-index: 4;
				margin: 10px 0 0 10px;
				transition: 0.75s ease-in-out;
				cursor: pointer;
				position: absolute;
				}
				.icon__1{
					display: inline-block;
					transform: rotate(45deg);
					top: 22px;
					left: 8px;
					}
				.icon__2{
					display: none;
				}
				.icon__3{
					display: inline-block;
					transform: rotate(-45deg) ;
					top: 22px;
  					left: 8px;
				}
			}	
		}

		&.navigation__open{
			
			@include flexbox();
			@include flexdir(row,space-between);
			flex-wrap: wrap;
			width: 100vw;
			height: 100vh;
			background-color: $white;
			
			.navigation__menu {
			width: 100%;
			display: flex;
			flex-direction: column;
			padding-top: 40px;
			height: 50vh;
				.navigation__menu--item {

					@include fontsize(50px);
					font-family: $font-pack1;
					padding:10px;
					a {
						&.navigation__link--home {
							color:$sunshine;
						}
						&.navigation__link--about {
		
							color:$primary-color;
						}
						&.navigation__link--projects {
								color:$aqua;
						}
					}			
				}
			}

			.navigation__social {
			width:100%;
			display: flex;
			flex-direction: column;
			height: 50vh;
				.navigation__social__list--greet {
					text-align: center;
					@include fontsize(25px);
				}
				.navigation__social__list {
				padding: 0;
					.social {
						width: 30px;
						font-size: 30px;
					}
				}
			}
		}
	}
}

.social {
	text-align: center;
    text-decoration: none;
    border-radius: 50%;
	background: $coal;
	color: $white;
	padding : 5px;
	width: 21px;
	font-size: 21px;
}