.about {	
	height: 100vh;
	background-size: cover ;
	@include flexbox();
	flex-direction: column ;
	justify-content: space-between ;
	align-items: center;
	text-align: center;
	&__top {
		z-index: -1  ;
		height: 200px  ;
		margin-top: -30vh  ;
		background-color: $aqua;
		@include transform(0deg,5deg);
		width: 100%;
		opacity: 0.2;	
	}
	&__arrow--top {
			width: 100%; 
			margin-top: 15px;
			padding-bottom: 20px;
			}
	&__photo {
		z-index: 2 ;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		border: 5px solid $aqua;
		align-self: center ;
		background: url("../images/IMG_5022.jpg") no-repeat center;
		background-position: 50% 10% ;
		background-size: 400px;
		margin-top: -15vh;	
		@include mq(phone, max) {
			width: 130px;
			height: 130px;
			background-size: 250px;
		}
	}
	&__desc {
		&--greeting {
			margin: 0;
		}
		&--me {
			padding: 30px;
			text-align:	center;
			display: block;
			@include fontsize(15px);
			font-family: $font-pack1;
			@include mq(small, max) {
				padding: 25px;
				@include fontsize(12px);
			}
		}
		&--sheading	{
			text-align: center;
			display: block;
			font-family: $font-pack;
			color: $aqua;
			text-transform: uppercase;
		}
		&--skills {
			display: block;
			font-style: italic;
		}


	}
	&__arrow--bottom {
		margin-bottom: 15px;
	}	
}

.aboutarrow	{
	color: $coal;
}



