
html,body{
  margin: 0;
  padding: 0;
  color:#51352E;
  
}

body{
  font-family: $font-pack;  
  @media screen and (max-width: 480px) {
    font-size: 1rem;
  }
   
}

a{
text-decoration:none;
color:$coal;
}


.role-italic{
	font-style:italic;
}

p{
  margin:0;
}

.arrow {
    border: solid;
    border-radius : 15%;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
    cursor: pointer;

}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}

.up {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);

}
