
h1 {font-size: 3rem; text-transform: uppercase;}
h2 {font-size: 2.4rem; 
    font-weight: 100;
    text-transform: uppercase;
    @include font(60px,Quicksand);
    }
h3 {font-size: 2.0rem;
    font-weight: 100;
    @include font(59px,'Quicksand')
    }
h4 {font-size: 1.6rem;}
h5 {font-size: 1.2rem;}
h6 {font-size: 1rem;}

@include mq('phone-wide') {
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}


